{% extends file_exists('layout/dash.twig') ? 'layout/dash.twig' : 'Media/Resources/views/layout/dash.twig' %}
{% block plugins_css %}
    <link rel="stylesheet" type="text/css" href="{{ asset('assetbundle/vendor/plugins/summernote/summernote.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('assetbundle/vendor/plugins/dropzone/css/dropzone.css') }}">
{% endblock %}
{% block plugins_js %}
    <script src="{{ asset('assetbundle/vendor/plugins/summernote/summernote.min.js') }}"></script>
    <script src="{{ asset('assetbundle/vendor/plugins/dropzone/dropzone.min.js') }}"></script>
{% endblock %}
{% block content %}
    <div class="tray tray-center">

        <!-- create new order panel -->
        <div class="panel mb25 mt5">
            <div class="panel-heading">
                <span class="panel-title hidden-xs"> 添加节日</span>
            </div>
            <div class="panel-body pb10">
                <div class="section row mbn">
                    <section class="summernote"></section>
                </div>
                <hr>
                <div class="tab-content pn br-n admin-form">
                    <div id="tab1_1" class="tab-pane active">
                        <div class="section row mbn">
                            <div class="col-sm-8">
                                <label class="field option mt10">
                                    <input type="checkbox" name="draft">
                                    <span class="checkbox"></span>保存草稿
                                </label>
                            </div>
                            <div class="col-sm-4">
                                <p class="text-right">
                                    <button class="btn btn-primary confirm-submit" data-url="" type="button">确定添加</button>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div style="display: none; min-width: 600px;" id="upload-picture">
        <div class="panel">
            <div class="panel-heading">
                <ul class="nav panel-tabs-border panel-tabs">
                    <li class="active">
                        <a href="#from_libs" data-toggle="tab" aria-expanded="false">媒体库</a>
                        </li>
                    <li>
                        <a href="#from_disk" data-toggle="tab" aria-expanded="true">本地上传</a>
                        </li>
                    <li>
                        <a href="#from_remote" data-toggle="tab">远程图片</a>
                        </li>
                    </ul>
                </div>
            <div class="panel-body">
                <div class="tab-content pn br-n admin-form">
                    <div id="from_libs" class="tab-pane active">
                        {#<div class="mh15">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="mix-controls ib">
                                        <form class="controls" id="select-filters">
                                            <!-- We can add an unlimited number of "filter groups" using the following format: -->
                                            <div class="btn-group ib mr10">
                                                <button type="button" class="btn btn-default hidden-xs">
                                                    <span class="fa fa-folder"></span>
                                                </button>
                                                <div class="btn-group">
                                                    <fieldset>
                                                        <select id="filter1" style="display: none;">
                                                            <option value="">All Folders</option>
                                                            <option value=".folder1">Publicity</option>
                                                            <option value=".folder2">Spain Vacation</option>
                                                            <option value=".folder3">Sony Demo</option>
                                                        </select><div class="btn-group"><button type="button" class="multiselect dropdown-toggle btn btn-default" data-toggle="dropdown" title="All Folders" aria-expanded="true">All Folders <b class="caret"></b></button><ul class="multiselect-container dropdown-menu"><li class="active"><a href="javascript:void(0);"><label class="radio"><input type="radio" value=""> All Folders</label></a></li><li><a href="javascript:void(0);"><label class="radio"><input type="radio" value=".folder1"> Publicity</label></a></li><li><a href="javascript:void(0);"><label class="radio"><input type="radio" value=".folder2"> Spain Vacation</label></a></li><li><a href="javascript:void(0);"><label class="radio"><input type="radio" value=".folder3"> Sony Demo</label></a></li></ul></div>
                                                    </fieldset>
                                                </div>
                                            </div>
                                            <div class="btn-group ib mr10">
                                                <button type="button" class="btn btn-default hidden-xs">
                                                    <span class="fa fa-tag"></span>
                                                </button>
                                                <div class="btn-group">
                                                    <fieldset>
                                                        <select id="filter2" style="display: none;">
                                                            <option value="">All Labels</option>
                                                            <option value=".label1">Work</option>
                                                            <option value=".label3">Clients</option>
                                                            <option value=".label2">Family</option>
                                                        </select><div class="btn-group"><button type="button" class="multiselect dropdown-toggle btn btn-default" data-toggle="dropdown" title="All Labels" aria-expanded="false">All Labels <b class="caret"></b></button><ul class="multiselect-container dropdown-menu"><li class="active"><a href="javascript:void(0);"><label class="radio"><input type="radio" value=""> All Labels</label></a></li><li><a href="javascript:void(0);"><label class="radio"><input type="radio" value=".label1"> Work</label></a></li><li><a href="javascript:void(0);"><label class="radio"><input type="radio" value=".label3"> Clients</label></a></li><li><a href="javascript:void(0);"><label class="radio"><input type="radio" value=".label2"> Family</label></a></li></ul></div>
                                                    </fieldset>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                &#123;&#35;<div class="col-xs-5 text-right">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default to-grid">
                                            <span class="fa fa-th"></span>
                                        </button>
                                        <button type="button" class="btn btn-default to-list">
                                            <span class="fa fa-navicon"></span>
                                        </button>
                                    </div>
                                </div>&#35;&#125;
                            </div>
                        </div>#}
                        <div id="mix-container">
                            <div class="fail-message">
                                <span>No items were found matching the selected filters</span>
                            </div>
                            <div class="mix label1 folder1" style="display: inline-block;">
                                <div class="panel p6 pbn">
                                    <div class="of-h">
                                        <img src="{{ asset('assetbundle/img/stock/1.jpg') }}" class="img-responsive" title="lost_typewritter.jpg">
                                        <div class="row table-layout">
                                            <div class="col-xs-8 va-m pln">
                                                <h6>lost_typewritter.jpg</h6>
                                            </div>
                                            <div class="col-xs-4 text-right va-m prn">
                                                <span class="fa fa-eye-slash fs12 text-muted"></span>
                                                <span class="fa fa-circle fs10 text-info ml10"></span>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="gap"></div>
                        </div>
                    </div>
                    <div id="from_disk" class="tab-pane">
                        <div class="tray-bin m10" style="min-height: 250px;">
                            <h5 class="text-muted fw600">
                            <form action="/" class="dropzone dropzone-sm dz-clickable" id="dropZone">
                                <div class="dz-default dz-message">
                                    <span>
                                        <i class="fa fa-cloud-upload"></i>
                                        <span class="main-text">
                                            <b>Drop Files</b> to upload</span> <br>
                                        <span class="sub-text">(or click)</span>
                                    </span>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div id="from_remote" class="tab-pane">
                        <div class="admin-form">
                            <div class="section mb15">
                                <label for="store-url" class="field prepend-icon">
                                    <input type="text" name="store-url" id="store-url" class="gui-input" placeholder="http://www.baidu.com">
                                    <label for="store-url" class="field-icon">
                                        <i class="fa fa-globe"></i>
                                    </label>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block body_class %}
    gallery-page sb-l-o sb-r-c onload-check
{% endblock %}
{% block js %}
    <script>
        $(function () {
            /*$.summernote.renderer.addDialogInfo('image', function (lang, options) {
                var content = document.getElementById('upload-picture').innerHTML;
                document.getElementById('upload-picture').innerHTML = '';
                return '<div class="note-image-dialog modal" aria-hidden="true" style="display: none;">' +
                        '<div class="modal-dialog">' +
                        '<div class="modal-content">' +
                        '<div class="modal-header">' +
                        '<button type="button" class="close" aria-hidden="true" tabindex="-1">×</button>' +
                        '<h4 class="modal-title">Insert Image</h4>' +
                        '</div>' +
                        '<div class="modal-body">' +
                        (content) +
                        '</div>' +
                        '<div class="modal-footer">' +
                        '<button href="#" class="btn btn-primary note-image-btn disabled" disabled="">Insert Image</button>' +
                        '</div>' +
                        '</div>' +
                        '</div>' +
                        '</div>';
            });*/

            $('.summernote').summernote({
                height: 255, //set editable area's height
                focus: false, //set focus editable area after Initialize summernote
                oninit: function() {},
                onChange: function(contents, $editable) {},
                onImageUpload: function (files, editor, welEditable) {
                    editor.insertImage(welEditable, 'http://img.hb.aicdn.com/1e8e03d5229baeff826561efb46806bf2e67364a28d7b-rOj60T_fw658');
                }
            });
        });
    </script>
{% endblock %}