<div style="display: none; min-width: 600px;" id="upload-picture">
    <div class="row">
        <!-- message tray -->
        <div class="col-md-3 message-tray animated fadeIn">

            <a href="#upload-picture" data-toggle="tab" id="quick-compose" class="tab btn btn-danger btn-block mb15">上传图片</a>

            <div class="panel">
                <div class="panel-body p10">
                    <div class="list-group list-group-links">
                        <div class="list-group-header pb5 br-n"> 媒体库 </div>
                        <a data-provider="{{ provider_remote is defined ? provider_remote : '/' }}" href="#media-libs" data-toggle="tab" class="tab list-group-item">
                            <i class="fa fa-gear"></i>
                            媒体列表
                        </a>
                    </div>
                    <div class="list-group list-group-links">
                        <div class="list-group-header pb5 br-n"> 上传文件 </div>
                        <a data-provider="" href="#upload-picture" data-toggle="tab" class="tab list-group-item">
                            <i class="fa fa-gear"></i>
                            本地上传
                        </a>
                        <a data-provider="" href="#insert-url" data-toggle="tab" class="tab list-group-item">
                            <i class="fa fa-envelope"></i>
                            从URL插入
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9 animated fadeIn">
            <div class="tab-content">
                <div id="media-libs" class="tab-pane active">

                </div>
                <div id="upload-picture" class="tab-pane">
                    <div action="{{ upload_url is defined ? upload_url : '/upload-file-url' }}" class="dropzone dropzone-sm dz-clickable" id="dropZone">
                        <div class="dz-default dz-message"><span><i class="fa fa-cloud-upload"></i>          <span class="main-text"><b>Drop Files</b> to upload</span> <br>          <span class="sub-text">(or click)</span>         </span></div>
                    </div>
                </div>
                <div id="insert-url" class="tab-pane">
                    <div class="admin-form">
                        <div class="section mb15">
                            <label for="store-url" class="field prepend-icon">
                                <input type="text" name="store-url" id="store-url" class="note-image-url gui-input" value="http://myonlinestore.com">
                                <label for="store-url" class="field-icon">
                                    <i class="fa fa-globe"></i>
                                </label>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<link rel="stylesheet" type="text/css" href="{{ asset('assetbundle/vendor/plugins/summernote/summernote.css') }}">
<link rel="stylesheet" type="text/css" href="{{ asset('assetbundle/vendor/plugins/dropzone/css/dropzone.css') }}">
<script>
    $(function () {

        $.summernote.renderer.addDialogInfo('image', function (lang, options) {
            var body = document.getElementById('upload-picture').innerHTML;
            document.getElementById('upload-picture').innerHTML = '';
            var footer = '<button href="#" class="btn btn-primary note-image-btn">' + lang.image.insert + '</button>';

            return $.summernote.renderer.getTemplate().dialog('note-image-dialog', lang.image.insert, body, footer);
        });

        $('.summernote').summernote({
            focus: true,
        });

//        var editor = $.summernote.eventHandler.getEditor();
//        var editable = $.summernote.renderer.layoutInfoFromHolder($('.summernote')).editable;

        $('#media-libs').on('change', 'input[type="checkbox"]', function () {
            var checkboxs = $('#media-libs').find('input[type="checkbox"]');
            var url = [];
            for (var i = 0; i < checkboxs.length; i++) {
                if ($(checkboxs[i]).is(':checked')) {
                    var imgUrl = $(checkboxs[i]).attr('data-url');
                    if ('' != imgUrl && typeof imgUrl != 'undefined') {
                        url.push(imgUrl);
                    }
                }
            }

            var urlString = url.join(';');
            if (';' != urlString) {
                $('#store-url').val(urlString);
            }
        });

        var url = $('[href="#media-libs"]').attr('data-provider');
        $.get(url, function (response) {
            $('#media-libs').html(response)
        }, 'html');
    });
</script>
<script src="{{ asset('assetbundle/vendor/plugins/summernote/summernote.min.js') }}"></script>
<script src="{{ asset('assetbundle/vendor/plugins/dropzone/dropzone.min.js') }}"></script>